/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  A.[TBE_ID]
      ,A.[TBE_MRN]
      ,A.[TBE_EPISODE_TYPE]
      ,A.[TBE_EPISODE_START_DATE]
      ,A.[TBE_EPISODE_END_DATE]
      ,A.[TBE_ACTIVE_EPISODE_IND]
      ,A.[TBE_PAYOR_CD]
      ,A.[TBE_ORIG_EPIID]
      ,A.[TBE_LIT_DESCRIPTION]
      ,A.[TBE_LIT_LITID]
      ,A.[TBE_EPISODE_DISCHARGE_DATE]
      ,A.[EPISODE_END_DATE_ACTUAL]
	  ,B.[EPI_PAID]
	  ,B.[TBE_EPISODE_TYPE]
	  ,B.[TBED_EPOSODE_STATUS]
      ,B.[TBED_MRN]
	  ,B.[TBED_EPISODE_START_DATE]
      ,B.[TBED_EPISODE_END_DATE]
	  ,B.[TBED_ACTIVE_EPISODE_IND]
	  ,B.[TBED_EPI_SocDate]
	  ,E.EPI_FIRSTNAME
	  ,E.EPI_LASTNAME
  FROM [VNSNY_BI].[dbo].[TIME_BASED_EPISODE] A
  JOIN [VNSNY_BI].[dbo].[TIME_BASED_EPISODE_DTL] B
  ON B.[TBED_TBEID] = A.[TBE_ID]
  join hchb.dbo.client_episodes_all E
  ON B.[EPI_PAID] = E.[EPI_PAID]
  WHERE E.EPI_FIRSTNAME ='EMILIANO' AND E.EPI_LASTNAME ='MARTINEZ'
     and A.[TBE_ACTIVE_EPISODE_IND] ='A'

